body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/opensans-bold.woff2) format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/opensans-regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --grey-shadow: #ececec;
  --black: #000;
  --white: #fff;
  --dark-white: #fbfbfb;
  --dark-grey: #444;
  --darkest-grey: #f1f1f1;
  --divider-color: #e5e5e5;
  --promo: #63d1bb;
  --promo-secondary: #56c3b2;
  --teal: #62d1ba;

  --font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
