body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/opensans-bold.woff2) format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/opensans-regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  --grey-shadow: #ececec;
}
